<html lang="ru">
{{>head title="Изменить пароль"}}
<body class="change-password-page">
<main>
	{{>profile-back-btn link="profile.hbs"}}

	<div class="container">
		<form action="#" method="post">
			{{>avatar name="Иван" image-src="./src/img/avatar.png"}}

			<div class="change-password-page__info">
				{{>profile-input-line title="Старый пароль" name="oldPassword" type="password" value="777777"}}
				{{>profile-input-line title="Новый пароль" name="newPassword" type="password" value="55555555555" bg-class="profile-input-line_bg"}}
				{{>profile-input-line title="Повторите новый пароль" name="newPassword" type="password" value="55555555555"}}
			</div>

			{{>link-button label="Сохранить" link="profile.hbs" style="link-button_sm"}}
		</form>
	</div>
</main>
</body>
</html>

