<html lang="ru">
{{>head title="Выбрать чат"}}
<body class="chat-choose-page">
<main>
    <div class="chat-choose-page__container">
        {{>chat-side-panel}}
			<div class="chat-choose-page__chat-panel">
				<p>
					Выберите чат чтобы отправить сообщение
				</p>
			</div>
    </div>
</main>
</body>
</html>

