<html lang="ru">
{{>head title="Авторизация"}}
<body class="auth-page">
<main>
	<div class="container">
		{{>main-title label="Вход"}}
		{{>link-button label="Зарегистрироваться" link="registration.hbs"}}
		<form action="#" method="post">
			<div class="auth-page__inputs">
				{{>header-field caption="Логин" type="text" placeholder="ivanivanov" name="login"}}
				{{>header-field caption="Пароль" type="password" name="password"}}
			</div>
			{{>link-button label="Авторизоваться" link="chat.hbs"}}
		</form>
	</div>
</main>
</body>
</html>

