<html lang="ru">
{{>head title="Регистрация"}}
<body class="reg-page">
<main>
	<div class="container">
		{{>main-title label="Регистрация"}}
		{{>link-button label="Авторизоваться" link="index.hbs"}}
		<form action="#" method="post">
			<div class="reg-page__inputs">
				{{>header-field caption="Почта" type="text" placeholder="pochta@yandex.ru" name="email"}}
				{{>header-field caption="Логин" type="text" placeholder="ivanivanov" name="login"}}
				{{>header-field caption="Имя" type="text" placeholder="Иван" name="first_name"}}
				{{>header-field caption="Фамилия" type="text" placeholder="Иванов" name="second_name"}}
				{{>header-field caption="Телефон" type="text" placeholder="+7 (909) 967 30 30" name="phone"}}
				{{>header-field caption="Пароль" type="password" name="password"}}
				{{>header-field caption="Пароль еще раз" type="password" name="password"}}
			</div>
			{{>link-button label="Зарегистрироваться" link="profile.hbs"}}
		</form>
	</div>
</main>
</body>
</html>

