.close-profile {
  @include roboto-medium;
  font-size: 13px;
  line-height: 13px;
  color: #FF0000;
  padding: 10px 15px;
  border: 1px solid #FFFFFF;
  border-radius: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;

  svg {
    margin-left: 10px;
  }

  &:hover {
    background-color: #FF0000;
    color: #FFFFFF;
    border: 1px solid #FF0000;
  }
}
