.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10px 25px 20px;

  &.selected {
    background: #16202A;
  }

  &__status {
    background-color: #2B2F37;
    width: 8px;
    height: 8px;

    border-radius: 50%;

    &.online {
      background-color: #70CC16;
    }
  }

  &__avatar {
    padding-top: 13%;
    position: relative;
    width: 40px;

    img {
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    span {
      display: none;
      position: absolute;
      width: 14px;
      height: 14px;
      right: -5px;
      bottom: -5px;
      text-align: center;
      border-radius: 50%;
      background: #F4CC00;
      font-size: 10px;
      line-height: 15px;
      color: #20232B;

      &.count_active {
        display: block;
      }
    }

  }

  &__content {
    width: 130px;
  }

  &__name {
    font-size: 14px;
    line-height: 16px;
    color: #FFFBFB;
    margin-bottom: 5px;
  }

  &__message {
    font-size: 12px;
    line-height: 15px;
    color: #B1B2B5;

    span {
      color: #ffffff;
      display: none;
    }

    &.outgoing_active {
      span {
        display: inline;
      }
    }
  }

  &__time {
    font-size: 10px;
    line-height: 15px;
    color: #B1B2B5;
  }


}
