.change-profile-page {
  background: #16202A url("../img/profile-bg.png") no-repeat center;

  .container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  .change-avatar {
    align-self: center;
    margin-bottom: 60px;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__info {
    margin-bottom: 40px;
  }

}

