.profile-page {
  background: #16202A url("../img/profile-bg.png") no-repeat center;

  .container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  .avatar {
    align-self: center;
    margin-bottom: 60px;
  }

  form {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__info {
    margin-bottom: 40px;
  }

  &__change-btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .link-button {
      &:not(:last-child) {
        margin-right: 20px;
      }
      min-width: 45%;
    }
  }


}

