<html lang="ru">
{{>head title="Ошибка 404"}}
<body class="errors-page">
<main>
	<div class="container">
		{{>error-block error-title="404" error-text="Увы, такой страницы не существует =("}}
	</div>
</main>
</body>
</html>

